@import "../fonts/Consolas/stylesheet.css";

:root
{
    --font-name: "Consolas";
}

body
{
    font-family: var(--font-name);
    font-weight: normal;
    font-style: normal;
}

.debug-outline
{
    border: 1px solid red;
}